* {
    box-sizing: border-box;
}
.block1 {
    text-align: center;
}
.block1 .block1__subtitle {
    color: lightgray;
}
.block1 .block1__text {
    color: lightgray;
}
main .block2 .block2__content_wrapper {
    display: flex;
    
}
.block2 .block2__content_wrapper .block2__item {
    margin: 120px;
    justify-content: space-between;
    text-align: center;
    flex-direction: row;
    flex-wrap: wrap;
}
.button__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}
.main__button{
    color: white;
    background-color: lightgreen;
    padding: 15px 20px;
    border: 0;
    border-radius: 10px;
}
.block3 .block3__content_wrapper{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    
    margin-top: 100px;
}
.block3 .block3__content_wrapper .block3__item{
    color: white;
    
}
.block3__item_wrapper1{
    background-color: lightgreen;
    flex-basis: 25%;
    align-items: flex-start;
    text-align: center;
}
.block3__item_wrapper2{
    background-color: lightgray;
    flex-basis: 25%;
    text-align: center;
}
.block3__item_wrapper3{
    background-color: lightpink;
    flex-basis: 25%;
    text-align: center;
}
.block3__item_wrapper4{
    background-color: lightsalmon;
    flex-basis: 25%;
    text-align: center;
}

